@model Bangazon.Models.ProductTypesViewModel

@{
    ViewData["Title"] = "Types";
}

<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupedProducts[0].TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupedProducts[0].ProductCount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var groupedProduct in Model.GroupedProducts)
        {
            <tr>
                <th>
                    <a asp-action="Details" asp-controller="ProductTypes" asp-route-id="@groupedProduct.TypeId">
                        @Html.DisplayFor(modelItem => groupedProduct.TypeName)
                    </a>
                </th>
                <td>
                    @Html.DisplayFor(modelItem => groupedProduct.ProductCount)
                </td>
            </tr>
            @foreach (Product product in groupedProduct.Products)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Products" asp-route-id="@product.ProductId">
                            @Html.DisplayFor(modelItem => product.Title)
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

