@model IEnumerable<Bangazon.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to Bangazon!</h1>

<form class="form-inline my-2 my-lg-0" asp-area="" asp-controller="Home" asp-action="Index">
    <input class="form-control mr-sm-2" name="searchString" type="search" placeholder="Search City" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

@if (Model.ToList().Count > 0)
{



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="ProductTypes" asp-route-id="@item.ProductType.ProductTypeId">
                        @Html.DisplayFor(modelItem => item.ProductType.Label)
                    </a>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Products" asp-route-id="@item.ProductId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <p>No matches</p>
}
