@model Bangazon.Models.Order

@{
    ViewData["Title"] = "Order";
}

<h1>My Cart</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>@Model.User.FirstName @Model.User.LastName - Order @Model.OrderId</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderProduct in Model.OrderProducts)
                {

                        <tr>
                            <td>@orderProduct.Product.Title</td>
                        </tr>
                }
            </tbody>
        </table>

@*button to go to checkout view*@

<a asp-action="Edit" asp-route-id="@Model.OrderId" >Proceed To Checkout</a>

<button asp-action="Edit" asp-route-id="@Model.OrderId"  type="submit" class="btn btn-danger">Proceed to checkout</button>

        <form asp-action="Edit">
            <input type="hidden" asp-for="OrderProducts" />
            <input type="submit" value="Proceed to checkout" class="btn btn-danger" /> 
            @*<a asp-action="Index">Back to List</a>*@
        </form>

